<div class="slp-flex">
  <a
    href="https://www.facebook.com/gitlab"
    target="_blank"
    title="GitLab on Facebook"
  >
    <svg
      width="24"
      height="24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="slp-mr-6"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm1.25 12.527v6.529h-2.7v-6.529H9.2v-2.25h1.35v-1.35C10.55 7.09 11.312 6 13.476 6h1.802v2.25h-1.127c-.842 0-.898.314-.898.901l-.003 1.126h2.04l-.238 2.25h-1.802z"
        fill="#404040"
      ></path>
    </svg>
  </a>
  <a
    href="https://twitter.com/gitlab"
    target="_blank"
    title="GitLab on Twitter"
  >
    <svg
      width="24"
      height="24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="slp-mr-6"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zm-.334 10.169l-.025-.415c-.076-1.076.587-2.06 1.636-2.44.387-.136 1.041-.153 1.47-.035.167.051.486.22.713.373l.411.28.453-.144c.252-.076.588-.204.739-.288.143-.077.269-.119.269-.094 0 .145-.311.636-.571.907-.353.382-.252.415.461.161.428-.144.437-.144.353.017-.05.085-.31.381-.588.653-.47.466-.495.517-.495.906 0 .602-.285 1.856-.57 2.543-.53 1.288-1.663 2.618-2.796 3.287-1.595.941-3.718 1.178-5.506.628-.596-.187-1.62-.661-1.62-.746 0-.026.31-.06.688-.068a4.726 4.726 0 002.25-.627l.453-.271-.52-.178c-.739-.254-1.402-.84-1.57-1.39-.05-.178-.034-.186.437-.186l.486-.009-.411-.195c-.487-.245-.932-.66-1.15-1.084-.16-.305-.36-1.077-.302-1.136.017-.025.193.025.394.093.58.212.655.161.32-.195-.63-.644-.823-1.601-.521-2.508l.143-.407.554.551c1.133 1.11 2.467 1.771 3.995 1.966l.42.051z"
        fill="#404040"
      ></path>
    </svg>
  </a>
  <a
    href="https://www.linkedin.com/company/gitlab-com"
    target="_blank"
    title="GitLab on LinkedIn"
  >
    <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12S18.627 0 12 0zM5.76 9.939h2.72v8.17H5.76V9.94zm2.9-2.528C8.641 6.611 8.068 6 7.138 6 6.209 6 5.6 6.61 5.6 7.411c0 .785.59 1.413 1.503 1.413h.018c.948 0 1.538-.628 1.538-1.413zm6.497 2.336c1.79 0 3.13 1.168 3.13 3.678v4.685h-2.719v-4.372c0-1.098-.393-1.847-1.378-1.847-.751 0-1.198.505-1.395.993-.072.175-.09.418-.09.663v4.563h-2.72s.036-7.404 0-8.17h2.72v1.157c.361-.557 1.008-1.35 2.452-1.35z"
        fill="#404040"
      ></path>
    </svg>
  </a>
</div>
